.btnAction{
  width: 24px;
height: 28px;
text-align: center;
border-radius: 5px;
border: 1px solid #898b8c;
line-height: 0;
background: none;
color:#69BE28;
font-size: 30px;
}
.inputNumber{
  font-family: 'Museo Sans 500';
  font-size: 25px;
  text-align: center;
  width: 122px;
  border: none;
  border-bottom: 1px solid #898B8C;
}
.error{
  color: #b81a2a;
  border-bottom: 1px solid #b81a2a;
}
.errorTxt{
  color: #b81a2a;
}
.inputNumber:focus{
  outline: none;
}
.mtError{
  margin-top: -35px!important;
}
.mtNoError{
  margin-top: -17px!important;
}
.left55px{
  margin-left: 55px!important;
}
