<div class="row mt-60px">
  <!-- informacion personal -->
  <div class="col-lg-6">
    <app-informacionPersonal></app-informacionPersonal>
  </div>
  <!-- fin informacion personal -->
  <!-- informacion laboral -->
  <div class="col-lg-6">
    <app-informacionLaboral></app-informacionLaboral>
  </div>
  <!-- fin informacion laboral -->
</div>
<div class="justifyContentCenter mt-5">
  <mat-checkbox class="mr-3"></mat-checkbox><a class="museoSans700 mt-2">Acepto Términos y Condiciones</a>
</div>
<!-- botones de accion -->
<div class="row mt-10px flechas">
  <!-- informacion personal -->
  <div class="col-lg-6 justifyContentCenter">
    <button class="btnDesplazamiento" matStepperPrevious>Atras</button>
  </div>
  <!-- fin informacion personal -->
  <!-- informacion laboral -->
  <div class="col-lg-6 justifyContentCenter">
    <button class="btnDesplazamiento borderLeft" matStepperNext>Siguiente</button>
  </div>
  <!-- fin informacion laboral -->
</div>

